/* ====================================
// css variables
// ==================================== */

:root {
  --beige: #ebead2;
  --grey: #979797;
  --white: #fff;
  --black: #000;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.section {
  background-color: var(--beige);
  border: 1px solid black;
  display: flex;
  margin-bottom: 10px;
}

.section .box {
  background-color: var(--white);
  border: var(--grey) solid 1px;
  margin: 16px 0;
  width: 425px;
  padding: 20px;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.section-1 {
  flex-direction: row;
}

.section-2 {
  flex-wrap: wrap;
}

/* ====================================
// base rules
// ==================================== */
